Edges.pgdf
Nodes.pgdf
rocksstorage/databases/*
mapdbstorage/databases/*
custom/databases/*
sparksee/databases/*
sparksee/sparksee.cfg
*.gdb
*.gdb.log
*.class
*.log
IdQueries.sh
LabelQueries.sh
PropertyQueries.sh